FTTEST/Connected Services/ServiceReference1/AVTC_webservice.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:tns="http://tempuri.org/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="get_product_h">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="sn" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="get_product_hResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="get_product_hResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="hello_word">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="sn" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="hello_wordResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="hello_wordResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="INS_EM_BU">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="x_json" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="INS_EM_BUResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="INS_EM_BUResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SD_WBER">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="x_meseid" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="x_sn" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="x_user" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="pf" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="x_comment" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SD_WBERResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="SD_WBERResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SD_STCK">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="x_meseid" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="x_sn" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="x_user" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SD_STCKResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="SD_STCKResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SD_TVDR">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="x_meseid" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="x_sn" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="CD" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="TYPE" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="DV_ID" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="x_user" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="x_comment" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SD_TVDRResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="SD_TVDRResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="INS_DC_CHECK">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="x_trid" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="x_workorder" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="x_pn" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="x_op" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="x_info" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="x_okng" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="x_eventtime" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="x_st_code" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="INS_DC_CHECKResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="INS_DC_CHECKResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="QRY_DC_CHECK">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="con" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="QRY_DC_CHECKResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="QRY_DC_CHECKResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="QRY_EMP_ID">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="card_no" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="QRY_EMP_IDResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="QRY_EMP_IDResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="CHK_MES_ROUTE">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="x_ST_ID" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="x_SN" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="CHK_MES_ROUTEResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="CHK_MES_ROUTEResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="INS_MES_STATION">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="x_ST_ID" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="x_SN" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="x_user" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="x_defect" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="INS_MES_STATIONResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="INS_MES_STATIONResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="INS_MES_PART_LINK">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="x_ST_ID" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="x_SN" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="x_PART_NO" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="x_PART_SN" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="INS_MES_PART_LINKResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="INS_MES_PART_LINKResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GET_DIXIE_MAC">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="sn" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="use_mode" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GET_DIXIE_MACResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GET_DIXIE_MACResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="UPD_DIXIE_MAC">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="sn" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="mac" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="use_mode" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="UPD_DIXIE_MACResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="UPD_DIXIE_MACResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="QRY_sn_kppn">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="x_sn" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="QRY_sn_kppnResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="QRY_sn_kppnResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="get_8L_WO">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="sn" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="get_8L_WOResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="get_8L_WOResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="INS_check_3T">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="x_sn" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="x_ST_ID" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="x_result" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="x_error_code" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="x_error_contect" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="user_id" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="INS_check_3TResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="INS_check_3TResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GET_ST_FILE_CONFIG">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="x_sn" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="x_ST_ID" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GET_ST_FILE_CONFIGResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GET_ST_FILE_CONFIGResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="INS_ST_FILE">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="x_sn" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="x_ST_ID" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="x_result" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="x_file_name" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="user_id" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="INS_ST_FILEResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="INS_ST_FILEResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="INS_CHK_MOUSE_LABEL_RESULT">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="x_sn" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="x_version" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="INS_CHK_MOUSE_LABEL_RESULTResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="INS_CHK_MOUSE_LABEL_RESULTResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="INS_AOI_PATH">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="x_sn" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="x_type" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="x_path" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="x_user" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="INS_AOI_PATHResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="INS_AOI_PATHResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="INS_MV_TEST_LOG">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="Model" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Line" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Station" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="SeqNum" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Status" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="TestStartTime" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Data1" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Data2" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Data3" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="INS_MV_TEST_LOGResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="INS_MV_TEST_LOGResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="INS_TEST_INFO">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="x_sn" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="x_model" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="x_stage" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="x_json" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="INS_TEST_INFOResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="INS_TEST_INFOResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GET_TEST_INFO">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="x_sn" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GET_TEST_INFOResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GET_TEST_INFOResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="get_product_hSoapIn">
    <wsdl:part name="parameters" element="tns:get_product_h" />
  </wsdl:message>
  <wsdl:message name="get_product_hSoapOut">
    <wsdl:part name="parameters" element="tns:get_product_hResponse" />
  </wsdl:message>
  <wsdl:message name="hello_wordSoapIn">
    <wsdl:part name="parameters" element="tns:hello_word" />
  </wsdl:message>
  <wsdl:message name="hello_wordSoapOut">
    <wsdl:part name="parameters" element="tns:hello_wordResponse" />
  </wsdl:message>
  <wsdl:message name="INS_EM_BUSoapIn">
    <wsdl:part name="parameters" element="tns:INS_EM_BU" />
  </wsdl:message>
  <wsdl:message name="INS_EM_BUSoapOut">
    <wsdl:part name="parameters" element="tns:INS_EM_BUResponse" />
  </wsdl:message>
  <wsdl:message name="SD_WBERSoapIn">
    <wsdl:part name="parameters" element="tns:SD_WBER" />
  </wsdl:message>
  <wsdl:message name="SD_WBERSoapOut">
    <wsdl:part name="parameters" element="tns:SD_WBERResponse" />
  </wsdl:message>
  <wsdl:message name="SD_STCKSoapIn">
    <wsdl:part name="parameters" element="tns:SD_STCK" />
  </wsdl:message>
  <wsdl:message name="SD_STCKSoapOut">
    <wsdl:part name="parameters" element="tns:SD_STCKResponse" />
  </wsdl:message>
  <wsdl:message name="SD_TVDRSoapIn">
    <wsdl:part name="parameters" element="tns:SD_TVDR" />
  </wsdl:message>
  <wsdl:message name="SD_TVDRSoapOut">
    <wsdl:part name="parameters" element="tns:SD_TVDRResponse" />
  </wsdl:message>
  <wsdl:message name="INS_DC_CHECKSoapIn">
    <wsdl:part name="parameters" element="tns:INS_DC_CHECK" />
  </wsdl:message>
  <wsdl:message name="INS_DC_CHECKSoapOut">
    <wsdl:part name="parameters" element="tns:INS_DC_CHECKResponse" />
  </wsdl:message>
  <wsdl:message name="QRY_DC_CHECKSoapIn">
    <wsdl:part name="parameters" element="tns:QRY_DC_CHECK" />
  </wsdl:message>
  <wsdl:message name="QRY_DC_CHECKSoapOut">
    <wsdl:part name="parameters" element="tns:QRY_DC_CHECKResponse" />
  </wsdl:message>
  <wsdl:message name="QRY_EMP_IDSoapIn">
    <wsdl:part name="parameters" element="tns:QRY_EMP_ID" />
  </wsdl:message>
  <wsdl:message name="QRY_EMP_IDSoapOut">
    <wsdl:part name="parameters" element="tns:QRY_EMP_IDResponse" />
  </wsdl:message>
  <wsdl:message name="CHK_MES_ROUTESoapIn">
    <wsdl:part name="parameters" element="tns:CHK_MES_ROUTE" />
  </wsdl:message>
  <wsdl:message name="CHK_MES_ROUTESoapOut">
    <wsdl:part name="parameters" element="tns:CHK_MES_ROUTEResponse" />
  </wsdl:message>
  <wsdl:message name="INS_MES_STATIONSoapIn">
    <wsdl:part name="parameters" element="tns:INS_MES_STATION" />
  </wsdl:message>
  <wsdl:message name="INS_MES_STATIONSoapOut">
    <wsdl:part name="parameters" element="tns:INS_MES_STATIONResponse" />
  </wsdl:message>
  <wsdl:message name="INS_MES_PART_LINKSoapIn">
    <wsdl:part name="parameters" element="tns:INS_MES_PART_LINK" />
  </wsdl:message>
  <wsdl:message name="INS_MES_PART_LINKSoapOut">
    <wsdl:part name="parameters" element="tns:INS_MES_PART_LINKResponse" />
  </wsdl:message>
  <wsdl:message name="GET_DIXIE_MACSoapIn">
    <wsdl:part name="parameters" element="tns:GET_DIXIE_MAC" />
  </wsdl:message>
  <wsdl:message name="GET_DIXIE_MACSoapOut">
    <wsdl:part name="parameters" element="tns:GET_DIXIE_MACResponse" />
  </wsdl:message>
  <wsdl:message name="UPD_DIXIE_MACSoapIn">
    <wsdl:part name="parameters" element="tns:UPD_DIXIE_MAC" />
  </wsdl:message>
  <wsdl:message name="UPD_DIXIE_MACSoapOut">
    <wsdl:part name="parameters" element="tns:UPD_DIXIE_MACResponse" />
  </wsdl:message>
  <wsdl:message name="QRY_sn_kppnSoapIn">
    <wsdl:part name="parameters" element="tns:QRY_sn_kppn" />
  </wsdl:message>
  <wsdl:message name="QRY_sn_kppnSoapOut">
    <wsdl:part name="parameters" element="tns:QRY_sn_kppnResponse" />
  </wsdl:message>
  <wsdl:message name="get_8L_WOSoapIn">
    <wsdl:part name="parameters" element="tns:get_8L_WO" />
  </wsdl:message>
  <wsdl:message name="get_8L_WOSoapOut">
    <wsdl:part name="parameters" element="tns:get_8L_WOResponse" />
  </wsdl:message>
  <wsdl:message name="INS_check_3TSoapIn">
    <wsdl:part name="parameters" element="tns:INS_check_3T" />
  </wsdl:message>
  <wsdl:message name="INS_check_3TSoapOut">
    <wsdl:part name="parameters" element="tns:INS_check_3TResponse" />
  </wsdl:message>
  <wsdl:message name="GET_ST_FILE_CONFIGSoapIn">
    <wsdl:part name="parameters" element="tns:GET_ST_FILE_CONFIG" />
  </wsdl:message>
  <wsdl:message name="GET_ST_FILE_CONFIGSoapOut">
    <wsdl:part name="parameters" element="tns:GET_ST_FILE_CONFIGResponse" />
  </wsdl:message>
  <wsdl:message name="INS_ST_FILESoapIn">
    <wsdl:part name="parameters" element="tns:INS_ST_FILE" />
  </wsdl:message>
  <wsdl:message name="INS_ST_FILESoapOut">
    <wsdl:part name="parameters" element="tns:INS_ST_FILEResponse" />
  </wsdl:message>
  <wsdl:message name="INS_CHK_MOUSE_LABEL_RESULTSoapIn">
    <wsdl:part name="parameters" element="tns:INS_CHK_MOUSE_LABEL_RESULT" />
  </wsdl:message>
  <wsdl:message name="INS_CHK_MOUSE_LABEL_RESULTSoapOut">
    <wsdl:part name="parameters" element="tns:INS_CHK_MOUSE_LABEL_RESULTResponse" />
  </wsdl:message>
  <wsdl:message name="INS_AOI_PATHSoapIn">
    <wsdl:part name="parameters" element="tns:INS_AOI_PATH" />
  </wsdl:message>
  <wsdl:message name="INS_AOI_PATHSoapOut">
    <wsdl:part name="parameters" element="tns:INS_AOI_PATHResponse" />
  </wsdl:message>
  <wsdl:message name="INS_MV_TEST_LOGSoapIn">
    <wsdl:part name="parameters" element="tns:INS_MV_TEST_LOG" />
  </wsdl:message>
  <wsdl:message name="INS_MV_TEST_LOGSoapOut">
    <wsdl:part name="parameters" element="tns:INS_MV_TEST_LOGResponse" />
  </wsdl:message>
  <wsdl:message name="INS_TEST_INFOSoapIn">
    <wsdl:part name="parameters" element="tns:INS_TEST_INFO" />
  </wsdl:message>
  <wsdl:message name="INS_TEST_INFOSoapOut">
    <wsdl:part name="parameters" element="tns:INS_TEST_INFOResponse" />
  </wsdl:message>
  <wsdl:message name="GET_TEST_INFOSoapIn">
    <wsdl:part name="parameters" element="tns:GET_TEST_INFO" />
  </wsdl:message>
  <wsdl:message name="GET_TEST_INFOSoapOut">
    <wsdl:part name="parameters" element="tns:GET_TEST_INFOResponse" />
  </wsdl:message>
  <wsdl:portType name="AVTC_webserviceSoap">
    <wsdl:operation name="get_product_h">
      <wsdl:input message="tns:get_product_hSoapIn" />
      <wsdl:output message="tns:get_product_hSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="hello_word">
      <wsdl:input message="tns:hello_wordSoapIn" />
      <wsdl:output message="tns:hello_wordSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="INS_EM_BU">
      <wsdl:input message="tns:INS_EM_BUSoapIn" />
      <wsdl:output message="tns:INS_EM_BUSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="SD_WBER">
      <wsdl:input message="tns:SD_WBERSoapIn" />
      <wsdl:output message="tns:SD_WBERSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="SD_STCK">
      <wsdl:input message="tns:SD_STCKSoapIn" />
      <wsdl:output message="tns:SD_STCKSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="SD_TVDR">
      <wsdl:input message="tns:SD_TVDRSoapIn" />
      <wsdl:output message="tns:SD_TVDRSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="INS_DC_CHECK">
      <wsdl:input message="tns:INS_DC_CHECKSoapIn" />
      <wsdl:output message="tns:INS_DC_CHECKSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="QRY_DC_CHECK">
      <wsdl:input message="tns:QRY_DC_CHECKSoapIn" />
      <wsdl:output message="tns:QRY_DC_CHECKSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="QRY_EMP_ID">
      <wsdl:input message="tns:QRY_EMP_IDSoapIn" />
      <wsdl:output message="tns:QRY_EMP_IDSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="CHK_MES_ROUTE">
      <wsdl:input message="tns:CHK_MES_ROUTESoapIn" />
      <wsdl:output message="tns:CHK_MES_ROUTESoapOut" />
    </wsdl:operation>
    <wsdl:operation name="INS_MES_STATION">
      <wsdl:input message="tns:INS_MES_STATIONSoapIn" />
      <wsdl:output message="tns:INS_MES_STATIONSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="INS_MES_PART_LINK">
      <wsdl:input message="tns:INS_MES_PART_LINKSoapIn" />
      <wsdl:output message="tns:INS_MES_PART_LINKSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GET_DIXIE_MAC">
      <wsdl:input message="tns:GET_DIXIE_MACSoapIn" />
      <wsdl:output message="tns:GET_DIXIE_MACSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="UPD_DIXIE_MAC">
      <wsdl:input message="tns:UPD_DIXIE_MACSoapIn" />
      <wsdl:output message="tns:UPD_DIXIE_MACSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="QRY_sn_kppn">
      <wsdl:input message="tns:QRY_sn_kppnSoapIn" />
      <wsdl:output message="tns:QRY_sn_kppnSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="get_8L_WO">
      <wsdl:input message="tns:get_8L_WOSoapIn" />
      <wsdl:output message="tns:get_8L_WOSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="INS_check_3T">
      <wsdl:input message="tns:INS_check_3TSoapIn" />
      <wsdl:output message="tns:INS_check_3TSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GET_ST_FILE_CONFIG">
      <wsdl:input message="tns:GET_ST_FILE_CONFIGSoapIn" />
      <wsdl:output message="tns:GET_ST_FILE_CONFIGSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="INS_ST_FILE">
      <wsdl:input message="tns:INS_ST_FILESoapIn" />
      <wsdl:output message="tns:INS_ST_FILESoapOut" />
    </wsdl:operation>
    <wsdl:operation name="INS_CHK_MOUSE_LABEL_RESULT">
      <wsdl:input message="tns:INS_CHK_MOUSE_LABEL_RESULTSoapIn" />
      <wsdl:output message="tns:INS_CHK_MOUSE_LABEL_RESULTSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="INS_AOI_PATH">
      <wsdl:input message="tns:INS_AOI_PATHSoapIn" />
      <wsdl:output message="tns:INS_AOI_PATHSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="INS_MV_TEST_LOG">
      <wsdl:input message="tns:INS_MV_TEST_LOGSoapIn" />
      <wsdl:output message="tns:INS_MV_TEST_LOGSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="INS_TEST_INFO">
      <wsdl:input message="tns:INS_TEST_INFOSoapIn" />
      <wsdl:output message="tns:INS_TEST_INFOSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GET_TEST_INFO">
      <wsdl:input message="tns:GET_TEST_INFOSoapIn" />
      <wsdl:output message="tns:GET_TEST_INFOSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="AVTC_webserviceSoap" type="tns:AVTC_webserviceSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="get_product_h">
      <soap:operation soapAction="http://tempuri.org/get_product_h" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="hello_word">
      <soap:operation soapAction="http://tempuri.org/hello_word" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="INS_EM_BU">
      <soap:operation soapAction="http://tempuri.org/INS_EM_BU" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SD_WBER">
      <soap:operation soapAction="http://tempuri.org/SD_WBER" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SD_STCK">
      <soap:operation soapAction="http://tempuri.org/SD_STCK" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SD_TVDR">
      <soap:operation soapAction="http://tempuri.org/SD_TVDR" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="INS_DC_CHECK">
      <soap:operation soapAction="http://tempuri.org/INS_DC_CHECK" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="QRY_DC_CHECK">
      <soap:operation soapAction="http://tempuri.org/QRY_DC_CHECK" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="QRY_EMP_ID">
      <soap:operation soapAction="http://tempuri.org/QRY_EMP_ID" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CHK_MES_ROUTE">
      <soap:operation soapAction="http://tempuri.org/CHK_MES_ROUTE" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="INS_MES_STATION">
      <soap:operation soapAction="http://tempuri.org/INS_MES_STATION" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="INS_MES_PART_LINK">
      <soap:operation soapAction="http://tempuri.org/INS_MES_PART_LINK" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GET_DIXIE_MAC">
      <soap:operation soapAction="http://tempuri.org/GET_DIXIE_MAC" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UPD_DIXIE_MAC">
      <soap:operation soapAction="http://tempuri.org/UPD_DIXIE_MAC" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="QRY_sn_kppn">
      <soap:operation soapAction="http://tempuri.org/QRY_sn_kppn" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="get_8L_WO">
      <soap:operation soapAction="http://tempuri.org/get_8L_WO" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="INS_check_3T">
      <soap:operation soapAction="http://tempuri.org/INS_check_3T" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GET_ST_FILE_CONFIG">
      <soap:operation soapAction="http://tempuri.org/GET_ST_FILE_CONFIG" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="INS_ST_FILE">
      <soap:operation soapAction="http://tempuri.org/INS_ST_FILE" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="INS_CHK_MOUSE_LABEL_RESULT">
      <soap:operation soapAction="http://tempuri.org/INS_CHK_MOUSE_LABEL_RESULT" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="INS_AOI_PATH">
      <soap:operation soapAction="http://tempuri.org/INS_AOI_PATH" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="INS_MV_TEST_LOG">
      <soap:operation soapAction="http://tempuri.org/INS_MV_TEST_LOG" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="INS_TEST_INFO">
      <soap:operation soapAction="http://tempuri.org/INS_TEST_INFO" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GET_TEST_INFO">
      <soap:operation soapAction="http://tempuri.org/GET_TEST_INFO" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="AVTC_webserviceSoap12" type="tns:AVTC_webserviceSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="get_product_h">
      <soap12:operation soapAction="http://tempuri.org/get_product_h" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="hello_word">
      <soap12:operation soapAction="http://tempuri.org/hello_word" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="INS_EM_BU">
      <soap12:operation soapAction="http://tempuri.org/INS_EM_BU" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SD_WBER">
      <soap12:operation soapAction="http://tempuri.org/SD_WBER" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SD_STCK">
      <soap12:operation soapAction="http://tempuri.org/SD_STCK" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SD_TVDR">
      <soap12:operation soapAction="http://tempuri.org/SD_TVDR" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="INS_DC_CHECK">
      <soap12:operation soapAction="http://tempuri.org/INS_DC_CHECK" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="QRY_DC_CHECK">
      <soap12:operation soapAction="http://tempuri.org/QRY_DC_CHECK" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="QRY_EMP_ID">
      <soap12:operation soapAction="http://tempuri.org/QRY_EMP_ID" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CHK_MES_ROUTE">
      <soap12:operation soapAction="http://tempuri.org/CHK_MES_ROUTE" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="INS_MES_STATION">
      <soap12:operation soapAction="http://tempuri.org/INS_MES_STATION" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="INS_MES_PART_LINK">
      <soap12:operation soapAction="http://tempuri.org/INS_MES_PART_LINK" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GET_DIXIE_MAC">
      <soap12:operation soapAction="http://tempuri.org/GET_DIXIE_MAC" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UPD_DIXIE_MAC">
      <soap12:operation soapAction="http://tempuri.org/UPD_DIXIE_MAC" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="QRY_sn_kppn">
      <soap12:operation soapAction="http://tempuri.org/QRY_sn_kppn" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="get_8L_WO">
      <soap12:operation soapAction="http://tempuri.org/get_8L_WO" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="INS_check_3T">
      <soap12:operation soapAction="http://tempuri.org/INS_check_3T" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GET_ST_FILE_CONFIG">
      <soap12:operation soapAction="http://tempuri.org/GET_ST_FILE_CONFIG" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="INS_ST_FILE">
      <soap12:operation soapAction="http://tempuri.org/INS_ST_FILE" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="INS_CHK_MOUSE_LABEL_RESULT">
      <soap12:operation soapAction="http://tempuri.org/INS_CHK_MOUSE_LABEL_RESULT" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="INS_AOI_PATH">
      <soap12:operation soapAction="http://tempuri.org/INS_AOI_PATH" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="INS_MV_TEST_LOG">
      <soap12:operation soapAction="http://tempuri.org/INS_MV_TEST_LOG" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="INS_TEST_INFO">
      <soap12:operation soapAction="http://tempuri.org/INS_TEST_INFO" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GET_TEST_INFO">
      <soap12:operation soapAction="http://tempuri.org/GET_TEST_INFO" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="AVTC_webservice">
    <wsdl:port name="AVTC_webserviceSoap" binding="tns:AVTC_webserviceSoap">
      <soap:address location="http://10.2.100.72:2001/AVTC_webservice.asmx" />
    </wsdl:port>
    <wsdl:port name="AVTC_webserviceSoap12" binding="tns:AVTC_webserviceSoap12">
      <soap12:address location="http://10.2.100.72:2001/AVTC_webservice.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>